.edit-user-info-input-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 20px;
}

.edit-user-info-input {
  outline: none;
  border: none;
  background-color: unset;
  padding: 8px 10px;
  font-size: 1.1rem;
  width: 100%;
}
.cms-main .btns{
  display: flex;
  gap: 10px;
  align-items: center;
}

.cms-main .deletebtn {
  background-color: #DC4C64;
  border: none;
}
.cms-main .editbtn {
  background-color: #14A44D;
  border: none;
}
.cms-main .showbtn {
  background-color: #3B71CA !important;
  border: none;
}